* {
    margin: 0;
    padding: 0;
}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style-type:none;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{margin:0; padding:0; border:none;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D8D8D8; text-align:center;}
.imgl{margin:0 15px 15px 0; clear:left;}
.imgr{margin:0 0 15px 15px; clear:right;}

/* ----------------------------------------------Wrapper------------------------------------- */

div.wrapper{display:block; width:100%; text-align:left;}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5,
div.wrapper h6{margin:0 0 15px 0; padding:0; font-size:16px; font-weight:normal; line-height:normal;}
.row1{color:#EBECED; background-color:#4F565B;}
.row2, .row2 a{color:#E1E1E1; background-color:#5D666C;}
.row3{padding-top:30px; color:#666666; background:url("images/featured_bg.gif") bottom left repeat-x #E0E0E0;}
.row4{background:url("images/quicknav_bg.gif") top left repeat-x; border-top:1px solid #BCBCBC; border-bottom:1px solid #BCBCBC;}
.row5{color:#848C92; background-color:#EBEDEE;}
.row5 a{color:#179CFF; background-color:#EBEDEE;}

/* ----------------------------------------------Generalise------------------------------------- */

#header, #container, #academiclinks, #footer{display:block; position:relative; width:960px; margin:0 auto;}

/* ----------------------------------------------Header------------------------------------- */

#header{padding:0 0 30px 0;}
#header h1, #header p, #header ul{margin:0; padding:0; list-style:none; line-height:normal;}
#header h1{font-size:32px; font-variant:small-caps;}
#header p{font-size:12px;}
#header .fl_left{margin-top:30px;}
#header .fl_left p{margin-top:4px;}
#header .fl_right p{text-align:center;}

/* ----------------------------------------------Content------------------------------------- */

#container{padding:30px 0;}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{color:#606B72; background-color:#EBEDEE; margin:0 0 15px 0; padding:0 0 10px 0; border-bottom:1px solid #D8D8D8;}
/*#container .title{}*/
#container .readmore{display:block; width:100%; text-align:right;}
#content{display:block; float:left; width:630px;}

/* Comments */

#comments{margin-bottom:40px;}
#comments .commentlist{margin:0; padding:0;}
#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}
#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#179CFF; background-color:#F7F7F7;}
#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#179CFF; background-color:#E8E8E8;}
#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}
#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}
#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; text-transform:none; line-height:normal; border-bottom:1px dotted #999999;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; border:1px solid #999999;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{margin:0; padding:0; list-style:none; color:#666666; background-color:#F7F7F7;}
#column #featured a{color:#179CFF; background-color:#F7F7F7;}
#column #featured li{display:block; width:250px; margin:0; padding:20px 25px; color:#666666; background-color:#F7F7F7;}
#column #featured li p.imgholder{display:block; width:240px; height:90px; margin:20px 0 15px 0;}
#column #featured li h2{margin:0; padding:0 0 8px 0; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:normal; border-bottom:1px dotted #999999;}
#container #column .readmore a{display:block; width:100%; margin-top:15px; height:auto; padding-left:0; font-weight:bold; text-align:right; line-height:normal; background:none;}
#column .latestnews{display:block; width:100%; margin:0; padding:0; list-style:none;}
#column .latestnews li{display:block; width:100%; height:99px; margin:0 0 11px 0; padding:0 0 21px 0; border-bottom:1px dotted #C7C5C8; overflow:hidden;}
#column .latestnews li.last{margin-bottom:0;}
#column .latestnews p{display:inline;}
#column .latestnews img{float:left; margin:0 10px 0 0; padding:4px; border:1px solid #C7C5C8; clear:left;}

/* ----------------------------------------------Academic link Block------------------------------------- */

#academiclinks{padding:30px 0; border-bottom:1px solid #949BA0;}
#academiclinks .linkbox{display:block; float:left; width:210px; margin:0 40px 0 0; font-size:12px;}
#academiclinks a{color:#6A737A; background-color:#C8CCCF;}
#academiclinks h2, #academiclinks ul{margin:0; padding:0; list-style:none;}
#academiclinks h2{margin:0 0 8px 0; padding:0 0 8px 0; font-size:14px; text-transform:uppercase; border-bottom:1px solid #949BA0;}
#academiclinks ul li{line-height:1.6em;}
#academiclinks .last{margin:0;}

/* ----------------------------------------------Footer------------------------------------- */

#footer{padding:30px 0;}
#footer a{color:#6A737A; background-color:#C8CCCF;}
#footer .fl_left{margin-bottom:30px;}
#footer .fl_left .fl_left{margin-bottom:0;}
#footer .fl_left img{margin-bottom:20px;}
#footer address{display:inline; float:left; margin-left:40px; text-transform:none; font-style:normal; line-height:1.6em;}
#footer .fl_right{display:block; width:400px; margin-bottom:30px;}
#footer .fl_right p{margin:0 0 15px 0; padding:0; line-height:normal;}
#footer .fl_right #social{display:block; width:100%; margin:0 0 15px 0; padding:0; line-height:normal;}
#footer .fl_right #social ul{margin:0; padding:0; list-style:none;}
#footer .fl_right #social li{float:left; /* Only For IE */}
#footer .fl_right #social a{display:block; float:left; width:49px; height:49px; margin-right:20px; overflow:hidden; text-indent:-4000em; background:url("images/social-sprite.gif") no-repeat;}
#footer .fl_right #social li.last a{margin-right:0;}
#footer .last{margin:0;}

/* ----------------------------------------------Copyright------------------------------------- */

#copyright{display:block; padding:15px 20px; clear:both;}
#copyright .fl_left, #copyright .fl_right{margin:0; width:auto;}
#copyright p{margin:0; padding:0;}
#copyright, #copyright a{color:#C8CCCF; background-color:#949BA0;}